$yellowish-white: #fbfbf9;
$text-color: #000;

$link-color: #000000f3;
$link-visited: #070707;
$link-hover: #646568;
$link-hover-border: #080808;
$light-turquoise: #b8d8d5;
$contact-text: #021418;

$light-gray: #ededed;
$dark-gray: #bbb;
